<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Menu</title>
    <link rel="stylesheet" href="/styleindex.css">
</head>
<body>
    <h1>WELCOME TO OUR ANNAPURNA ROYAL CAMP</h1>
    <p>Our menu offers a delightful selection:</p>
    <img src="/img6.png" class="full-screen">

    <form action="/order" method="POST">
        <h2>MOMO</h2>
        <label>
            <input type="checkbox" name="item" value="MOMO-Chicken"> Chicken - ₹300
        </label><br>
        <label>
            <input type="checkbox" name="item" value="MOMO-Veg"> Veg - ₹150
        </label><br>

        <h2>Pizza</h2>
        <label>
            <input type="checkbox" name="item" value="Pizza-Large"> Large - ₹800
        </label><br>
        <label>
            <input type="checkbox" name="item" value="Pizza-Medium"> Medium - ₹450
        </label><br>
        <label>
            <input type="checkbox" name="item" value="Pizza-Small"> Small - ₹300
        </label><br>

        <h2>Beer</h2>
        <label>
            <input type="checkbox" name="item" value="Beer-Gorkha strong"> Gorkha strong - ₹700
        </label><br>
        <label>
            <input type="checkbox" name="item" value="Beer-Nepal Ice"> Nepal Ice - ₹700
        </label><br>

        <button type="submit">Place Order</button>
    </form>
</body>
</html>
