<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Order</title>
    <link rel="stylesheet" href="/styleorder.css">
</head>
<body>
    <h1>Your Order Summary</h1>
    <p>Total Amount: ₹{{totalAmount}}</p>
    <h2>Ordered Items:</h2>
    <ul>
        {{#each orderedItems}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <a href="/">Go back to menu</a>
</body>
</html>
